calculate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
 
        <!-- filename calculate.wsdl -->
 
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/calculate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="calculate" targetNamespace="http://www.example.org/calculate/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/calculate/">
                <xsd:include schemaLocation="calculate.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="subtractRequest">
    <wsdl:part name="parameters" element="tns:subtract"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subtractResponse">
    <wsdl:part name="parameters" element="tns:subtractResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="calculate">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subtract">
        <wsdl:input message="tns:subtractRequest"></wsdl:input>
        <wsdl:output message="tns:subtractResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calculateSOAP" type="tns:calculate">
    <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
        <soap:operation
            soapAction="http://www.example.org/calculate/add" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
        <soap:operation
            soapAction="http://www.example.org/calculate/subtract" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calculate">
    <wsdl:port binding="tns:calculateSOAP" name="calculateSOAP">
      <soap:address location="http://pi.home.com/calculate/calculate.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
